{% extends 'base.html' %} 
{% block title %}Agregar FIEL{% endblock %}
{% block title_navbar %}FIEL{% endblock %}
{%block content %}

<style>
    .custom-file-input.selected:lang(en)::after {
      content: "" !important;
    }

    .custom-file {
      overflow: hidden;
    }

    .custom-file-input {
      white-space: nowrap;
    }
  </style>

<div class="m-2 p-2">
 <div class="row">
     <div class="w-50 mx-auto">
            <div class="card">
                <div class="card-header">
                    <center> Subir archivos de la FIEL </center>    
                </div>
                <div class="card-body row justify-content-center align-items-center">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {{ form.csrf_token }}
                        
                                {{ form.file_cer.label() }}
                                {{ form.file_cer(class="custom-file-input") }}   </br>
                                {{ form.file_cer() }}   </br>
                                {{ form.file_cer() }}   </br>                
                        
                        {{ form.submit(class="btn btn-primary")}}
                    </form>
                </div>
            </div>
        </div> 
  </div>
</div>
<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
      var name = document.getElementById("customFileInput").files[0].name;
      var nextSibling = e.target.nextElementSibling
      nextSibling.innerText = name
    })
  </script>
{% endblock %}
