{% extends 'base.html' %} 
{% block title %}Login{% endblock %}
{% block title_navbar %}Login{% endblock %}
{%block content %}

<div class="m-2 p-2">
 <div class="row">
     <div class="w-50 mx-auto">
            <div class="card">
                <div class="card-header">
                    <center> LOGIN </center>    
                </div>
                <div class="card-body row justify-content-center align-items-center">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                           {{ form.email.label(class="exampleInputEmail2", form="email") }}
                           {{ form.email(class="form-control", id="email", autocomplete="off") }}
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div> 
  </div>
</div>

{% endblock %}