{% extends 'base.html' %} 
{% block title %}Registro{% endblock %}
{% block title_navbar %}Registro{% endblock %}
{%block content %}

<div class="m-2 p-2">
 <div class="row">
     <div class="w-50 mx-auto">
            <div class="card">
                <div class="card-header">
                    <center> REGISTRO </center>    
                </div>
                <div class="card-body row justify-content-center align-items-center">
                    <form method="POST" action="/">
                        {{ form.csrf_token }}

                        <div class="form-group">
                            {{ form.name.label(class="exampleInputEmail2", form="name") }}
                            {{ form.name(class="form-control", id="name", autocomplete="off") }}
                         </div>

                        <div class="form-group">
                           {{ form.email.label(class="exampleInputEmail2", form="email") }}
                           {{ form.email(class="form-control", id="email", autocomplete="off") }}
                        
                        </div>
                        
                        
                        <div class="form-group">
                            {{ form.password.label() }}
                            {{ form.password(class="form-control", id="password", autocomplete="off") }}
                        </div>
                           {{ form.submit(class="btn btn-primary")}}
                    </form>
                </div>
            </div>
        </div> 
  </div>
</div>

{% endblock %}